@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Vollkorn');

/* Icon-ar */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1geow0');
  src:  url('fonts/icomoon.eot?1geow0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1geow0') format('truetype'),
    url('fonts/icomoon.woff?1geow0') format('woff'),
    url('fonts/icomoon.svg?1geow0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-info:before {
  content: "\ea0c";
}

.current{
	color: rgb(242, 151, 33);
}
body{
	margin-top: 100px;
}
.footer{
	background: White;
}
.wrapper{
	text-align: center;

	font-family: 'Vollkorn', serif;
	background-color: rgb(255, 250, 250);
}
.title{
	font-family: 'Slabo 27px', serif;
}
sub{
	border-bottom: 12px solid White;
}
.images{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;	
}
.images img{
	justify-self: center;
}
.image{
	width: 400px;
	height: auto;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;

	margin: 0px;
	padding: 16px 0 0 0;
	overflow: hidden;

	font-family: 'Slabo 27px', serif;
	font-weight: bold;	
	background: White;
}
.navBar a{
	float: left;
}
.navBar a{
	display: block;
	text-align: center;
	padding: 16px 16px;
}
.navBar a:hover{
	background-color: rgb(255, 184, 94);
}
.employee{
	width: 200px;
	height: auto;
}
.oversteer{
	width: 0px;
}

/* Staðlar */
a{
	text-decoration: none;
}

/* RWD */
@media (min-width: 400px){
	.images{
		text-align: center;

		display: grid;
		grid-template-columns: 1fr;
	}
	.title{
	font-size: 50px;
	font-family: 'Slabo 27px', serif;
	}
	.image{
	width: 360px;
	height: auto;
	}
	.oversteer{
	width: 50px;
	}
}
@media (min-width: 900px){
	.images{
		text-align: center;

		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.title{
	font-size: 85px;
	font-family: 'Slabo 27px', serif;
	}
	.image{
	width: 450px;
	height: auto;
	}
	.oversteer{
	float: right;

	width: 75px;
	height: auto;
	padding: 0 64px 16px 0;
	}
}
@media (min-width: 1440px){
	.images{
		text-align: center;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.title{
	font-size: 125px;
	font-family: 'Slabo 27px', serif;
	}
	.image{
	width: 480px;
	height: auto;
	}
	.oversteer{
	float: right;

	width: 75px;
	height: auto;
	padding: 0 64px 16px 0;
	}
}